html {
    font-size: 15px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Lato;
}

header {
    height: 100%;
    background-image: url("assets/img/hero-bg.png");
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    background-image: url(assets/icon/logo.svg);
    height: 67px;
    width: 67px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-size: 3.6rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1.6px;
    line-height: 1.2;
    text-align: center;
    margin: 90px 0 50px 0;
}

p {
    font-size: 1rem;
    color: white;
    line-height: 29px;
    text-transform: uppercase;
    text-align: center;
}

img {
    position: absolute;
    bottom: 7.3rem;
}

